
* {                                                        /* for all elements inside the application (including pseudo elements)... */
  box-sizing: border-box;                                                       /* ... standardize widths and heights. */
  margin: 0;                                                                    /* ... set margin to 0 ... */
  padding: 0;                                                                   /* ... set padding to 0 ... */
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, rgb(177, 178, 189), rgb(165, 168, 149));
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo path:nth-child(1) {
  stroke-dasharray: 30px;
}
#logo path:nth-child(2) {
  stroke-dasharray: 30px;
}
#logo path:nth-child(3) {
  stroke-dasharray: 30px;
}
#logo path:nth-child(4) {

}
#logo path:nth-child(5) {

}
#logo path:nth-child(6) {

}
#logo path:nth-child(7) {

}
#logo path:nth-child(8) {

}
#logo path:nth-child(9) {

}
#logo path:nth-child(10) {

}
#logo path:nth-child(11) {

}
#logo path:nth-child(12) {

}
#logo path:nth-child(13) {
  stroke-dasharray: 30px;
}
